/* base styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black;
    box-sizing: border-box; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 0 auto 3rem auto;
    width: 60rem;
    color: #a0a0a0;
}

/* Nav-bar Section */

.nav-bar{
    position: absolute;
    display: inline-flex;
    border: 0.5px solid #585858;
    border-radius: .2rem;
    margin-top: 6.5rem;
}
.nav-bar>ul{
    list-style: none;
    display: inline-flex;
}
.nav-bar>ul>li{
    display: block;
    padding: 0.3rem 2.2rem;
    background: #808080;
    background: linear-gradient(#808080,#808080, #4D4D4D,#4D4D4D);
    border-right: 0.5px solid #585858;
    
}

.nav-bar>ul>li:hover{
    cursor: pointer;
    background: linear-gradient(#575757,#575757, #252525,#252525)
}
.nav-bar>ul>li:last-child{
    border-right: none;
    background: linear-gradient(#808080,#808080, #4D4D4D,#4D4D4D);
    cursor: default;
}

.nav-bar>ul>li>a{
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 100;
}
.nav-bar>ul>li>a>img{
    display: block;
    margin-top: .1rem;
    background: linear-gradient(#858585,#858585, #767676,#767676);
}
.nav-bar>ul>li>img{
    position: absolute;
    margin-top: .5rem;
    margin-left: .2rem;
    width: .7rem;
}
.nav-bar>ul>li>input{
    display: flex;
    background: linear-gradient(#858585,#858585, #767676,#767676);
    border-top: .5px solid #4a4a4a;
    border-bottom: .5px solid #878787;
    border-radius: 10px;
    border-right: .2px solid #4a4a4a;
    border-left: .2px solid #4a4a4a;
    padding-left: 1rem;
    margin-top: .4rem;
    width: 5rem;
    transition: width 0.4s ease-in-out;
}
.nav-bar>ul>li>input:focus{
    background: white;
    outline:none;
    width: 10rem;
}

/* main Section*/

.background-image{
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    
}
.hero{
    background-image: url("../images/your_verse_hero.jpg");
    height: 35rem;
    background-repeat:no-repeat;
    background-position-y: bottom;
}
.info-list{
    display: flex;
    flex-direction: row;
}

.info{
    height: 200px;
    width: 355px;
    background-repeat:no-repeat;
    margin:0.2rem;
}
.info[id ="iphone5s"]{
    background-image: url("../images/promo_iphone5s.jpg");
}

.info[id ="iphone5c"]{
    background-image: url("../images/promo_iphone5c.jpg");
}

.info[id ="30_years"]{
    background-image: url("../images/promo_30_years.jpg");
}

.info[id ="supplier_responsibility"]{
    background-image: url("../images/promo_supplier_responsibility.jpg");
}

.background-image>img{
    margin: 0 auto;
}

.box-image{
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
    height: 32px;
}
.box-image>img:hover{
    position: relative;
    padding: 0;
    top: -100%;
}

/*Footer Section */

.footer-info{
    display: flex;
    align-content: space-between;
    padding: 1rem 0rem 0.5rem 0rem;
}

.footer-info>p{
    margin-right: 1rem;
    font-size: .6rem;
}
.footer-info>p>a{
    text-decoration: none;
    color: #1f86c2;
}

.footer-info>p>a:hover{
    text-decoration: underline;
}

.footer-list{
    list-style: none;
    font-size: .6rem;
    display: flex;
    justify-items: center;
}

.footer-list>li{
    padding-left: 0.6rem;
    margin-left: 0.6rem;
    border-left: 1px solid #e4e4e4;
}

.footer-list>li:first-child{
    border-left: none;
}

.footer-list>li>a{
    text-decoration: none;
    color: #1f86c2;
}
.footer-list>li>a:hover{
    text-decoration: underline;
}

.language-image{
    width: 1.2rem;
}
.footer-copyright{
    font-size: .6rem;
    display: flex;
    align-content: space-between;
}